.git
.idea
.idea_modules
.vscode
docker

public/report

.env
node_modules

ci-cd
migrations-old

storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**

storage/logs/**

public/**
public/images/shares

!public/fonts/*
!public/css/*
!public/js/*
!public/index.php
!public/lib/*
!public/errors/*
!public/status/*